.input_feedback_form{
  display: flex;
  flex-direction: column;
  input{
    padding: 17px 18px;
    gap: 10px;
    background: #F6F6F9;
    border: 1px solid #00B347;
    border-radius: 5px;
    margin: 10px;
  }
  .input_error{
    border-color: #ff0000;
  }
  .error_message{
    font-size: 12px;
    line-height: 16px;
    color: #E0371F;
  }
}